.bottom-section-container {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  align-items: space-between;
}
.history-container-main {
  overflow: auto;
  min-width: 610px;
  max-height: 268px;
}
.history-container {
  overflow: auto;
  padding: 10px 20px;
}
.history-container h2 {
  text-align: left;
  font-size: 16px;
}
.latest-activities-container {
  overflow: auto;
}
.activities-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 4px;
}
.each-activity {
  align-self: center;
  justify-self: center;
  padding: 10px 15px;
  color: #b3b2b2;
}
.each-activity:nth-of-type(1) {
  color: black;
  border-bottom: 2px solid blue;
}
