.products-container{
    background-color: rgba(128, 128, 128, 0.164);
    padding: 1% 3%;
}

h3{
    text-align: center;
}

.box-container{
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.each-box{
    background-color: rgb(35, 35, 36);
    color: white;
    padding: 4px 5px;
    margin: 2px 15px;
    width: 30%;
    height: 30%;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* top: 50%; */
    /* margin: auto; */
}
.product-text{
    text-align: center;
    margin-top: 21%;
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    letter-spacing: 2px;
}

/* Nested Routes Styling */

.products-container a{
    padding: 10px 30px;
    color: black;
    letter-spacing: 3px;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

.products-container .active{
    background-color: rgba(175, 184, 185, 0.313);
}

.products-container p {
    font-family:'Times New Roman', Times, serif;
}

.product-detail-h3{
    font-family:'Times New Roman', Times, serif;
    font-size: 26px;
}

.product-detail{
    padding: 60px 90px;
    font-size: 30px;
}

